tests/Integration/wsdl-fixtures/simple-wsdls/customer-lookup/customer-lookup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions
    name="CustomerLookupService"
    targetNamespace="urn:fixtures:customer-lookup"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="urn:fixtures:customer-lookup"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema targetNamespace="urn:fixtures:customer-lookup" elementFormDefault="qualified">
      <xsd:complexType name="CustomerSummaryType">
        <xsd:sequence>
          <xsd:element name="customerId" type="xsd:string" />
          <xsd:element name="displayName" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetCustomerRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="customerId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetCustomerResponse" type="tns:CustomerSummaryType" />
      <xsd:element name="SearchCustomersRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="postalCode" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchCustomersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="customer" type="tns:CustomerSummaryType" minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="GetCustomerInput">
    <part name="parameters" element="tns:GetCustomerRequest" />
  </message>
  <message name="GetCustomerOutput">
    <part name="parameters" element="tns:GetCustomerResponse" />
  </message>
  <message name="SearchCustomersInput">
    <part name="parameters" element="tns:SearchCustomersRequest" />
  </message>
  <message name="SearchCustomersOutput">
    <part name="parameters" element="tns:SearchCustomersResponse" />
  </message>
  <portType name="CustomerLookupPortType">
    <operation name="GetCustomer">
      <input message="tns:GetCustomerInput" />
      <output message="tns:GetCustomerOutput" />
    </operation>
    <operation name="SearchCustomers">
      <input message="tns:SearchCustomersInput" />
      <output message="tns:SearchCustomersOutput" />
    </operation>
  </portType>
  <binding name="CustomerLookupBinding" type="tns:CustomerLookupPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetCustomer">
      <soap:operation soapAction="urn:fixtures:customer-lookup:GetCustomer" />
      <input><soap:body use="literal" /></input>
      <output><soap:body use="literal" /></output>
    </operation>
    <operation name="SearchCustomers">
      <soap:operation soapAction="urn:fixtures:customer-lookup:SearchCustomers" />
      <input><soap:body use="literal" /></input>
      <output><soap:body use="literal" /></output>
    </operation>
  </binding>
  <service name="CustomerLookupService">
    <port name="CustomerLookupPort" binding="tns:CustomerLookupBinding">
      <soap:address location="http://example.com/customer-lookup" />
    </port>
  </service>
</definitions>